body{
    background-color: rgb(144, 199, 247);
}

.flexContainer{
    display: flex;
    flex-direction: column;
    gap: 3px;

}

.gridContainer{
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.billingAddress{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(5, 1fr);
}

.security{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}