body
{
    background-color: black;
    
}

h1
{
    font-family: "Libre Baskerville", serif;
    color: whitesmoke;
    padding: 0px;
    margin-left: 75%;
    
}
#container
{
    width: 50%;
    margin-left: 25%;
}

img
{
    margin-left: 200px;
    padding: 0px;
    width: 100%;
    border: 10px solid burlywood;

}

#subText
{
    font-family: "Libre Baskerville", serif;
    margin-left: 70%;
    color: whitesmoke;
}